* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    background: linear-gradient( grey 80%,  silver 20%);
    
}
.container{
    background: linear-gradient(silver, grey);
    height: 290px;
    width: 290px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h3 {
    text-align: center;
    font-size: 1.2rem;
}
button {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius:  6px;
    font-size: 0.9rem;
    background: transparent;
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}
button:hover {
    background: black;
    color: white;
    border: none;
    transition: all 0.4s ease-in-out;
}
input {
    padding: 5px;
    margin: 10px;
    width: 250px;
    text-align: center;
    background: transparent;
}
#output {
    width: 250px ;
    margin: 20px;
    text-align: center;
    font-size: 1rem;
}